body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%), url(../img/trans.jpg);
}
.containerr {
    margin: 70px auto;
    padding: 30px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h6 {
    color: #495057;
}
form {
    margin-top: 20px;
}
textarea, select {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
h3 {
    margin-top: 20px;
}
p {
    margin-bottom: 20px;
}